---
interface Props {
  width?: number;
  height?: number;
  class?: string;
}

const { width = 142, height = 14, class: className = "" } = Astro.props;
---

<div class={`relative ${className}`} style={`width: ${width}px; height: ${height}px;`}>
  <svg xmlns="http://www.w3.org/2000/svg" width={width} height={height} viewBox="0 0 142 14" fill="none" style="color: var(--text);">
    <title>Logo</title>
    <g clip-path="url(#clip0_5806_1901)">
      <mask id="mask0_5806_1901" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="142" height="14">
        <path d="M142 0.779297H0V13.7793H142V0.779297Z" fill="white"/>
      </mask>
      <g mask="url(#mask0_5806_1901)">
        <path d="M66.1233 1.91884C66.1233 1.22116 65.6483 0.779297 64.7539 0.779297H58.7733C55.5593 0.779297 54.1899 1.91884 54.1899 4.59326V9.94209C54.1899 10.9886 53.6309 11.477 52.3175 11.477H44.5481C43.7097 11.477 43.1787 11.9188 43.1787 12.6398C43.1787 13.3142 43.7097 13.7793 44.5481 13.7793H52.3454C55.5314 13.7793 56.9846 12.6398 56.9846 9.96534V4.61651C56.9846 3.47697 57.4876 3.08163 58.8291 3.08163H64.8099C65.6483 3.08163 66.1233 2.63977 66.1233 1.91884Z" fill="currentColor"/>
        <path d="M18.3613 0.779297H4.58335C1.81657 0.779297 0 2.31419 0 4.59326V9.94209C0 12.2444 1.84452 13.756 4.58335 13.756H15.5946C16.5168 13.756 17.4391 12.9886 17.4391 12.2212V9.54674C17.4391 8.89558 16.8522 8.40721 16.0976 8.40721C15.2313 8.40721 14.7002 8.84907 14.7002 9.54674V11.4537H4.58335C3.66109 11.4537 2.73883 10.6863 2.73883 9.91883V4.57C2.73883 3.80256 3.66109 3.03511 4.58335 3.03511H18.3613C19.2836 3.03511 20.2059 3.80256 20.2059 4.57V12.5933C20.2059 13.1979 20.7648 13.7328 21.5752 13.7328C22.3578 13.7328 22.9447 13.3607 22.9447 12.5933V4.57C22.9726 2.31418 21.1281 0.779297 18.3613 0.779297Z" fill="currentColor"/>
        <path d="M68.8912 9.96534C68.8912 12.6398 70.2327 13.7793 73.4746 13.7793C79.1478 13.7793 84.7932 13.7793 90.4664 13.7793C91.3048 13.7793 91.8359 13.3374 91.8359 12.6165C91.8359 11.9421 91.3048 11.477 90.4664 11.477H73.4465C72.0772 11.4537 71.602 11.0584 71.602 9.94209V4.59326C71.602 3.45372 72.1051 3.05837 73.4465 3.05837H87.2246C88.5102 3.05837 89.0691 3.45372 89.0691 4.59326C89.0691 5.73279 88.594 6.12813 87.2246 6.12813H75.7662C74.844 6.12813 74.3968 6.52349 74.3968 7.26767C74.3968 8.01186 74.8719 8.40721 75.7662 8.40721H87.2246C90.4664 8.40721 91.808 7.26767 91.808 4.59326C91.808 1.91884 90.4385 0.779297 87.2246 0.779297H73.4465C70.1488 0.779297 68.8633 1.91884 68.8633 4.59326V9.96534H68.8912Z" fill="currentColor"/>
        <path d="M94.6046 9.96534C94.6046 12.6398 95.946 13.7793 99.188 13.7793C104.861 13.7793 108.97 13.7793 114.615 13.7793C115.453 13.7793 115.984 13.3374 115.984 12.6165C115.984 11.9421 115.509 11.477 114.615 11.477H99.1601C97.7906 11.4537 97.3155 11.0584 97.3155 9.94209C97.3155 8.1514 97.3155 6.38395 97.3155 4.59326C97.3155 3.47698 97.7906 3.08163 99.1601 3.05837C104.833 3.05837 108.914 3.05837 114.587 3.05837C115.425 3.05837 115.956 2.61651 115.956 1.91884C115.956 1.22116 115.425 0.779297 114.587 0.779297H99.1601C95.9181 0.779297 94.5767 1.91884 94.5767 4.59326L94.6046 9.96534Z" fill="currentColor"/>
        <path d="M119.055 9.94209C119.055 12.6165 120.397 13.7793 123.639 13.7793H137.416C140.659 13.7793 142 12.6165 142 9.94209V4.59326C142 1.91884 140.659 0.779297 137.416 0.779297H123.639C120.397 0.779297 119.055 1.91884 119.055 4.59326V9.94209ZM123.639 11.477C122.269 11.4537 121.794 11.0351 121.794 9.94209V4.59326C121.794 3.47698 122.241 3.10488 123.639 3.08163H137.416C138.786 3.10488 139.261 3.50023 139.261 4.61651C139.261 6.4072 139.261 8.17465 139.261 9.94209C139.261 11.0584 138.786 11.477 137.416 11.5002L123.639 11.477Z" fill="currentColor"/>
        <path d="M48.682 1.91884C48.682 1.22116 48.2069 0.779297 47.3125 0.779297H41.3319C38.118 0.779297 36.7485 1.91884 36.7485 4.59326V9.94209C36.7485 10.9886 36.1896 11.477 34.8761 11.477H27.0509C26.2125 11.477 25.7373 11.9188 25.7373 12.6398C25.7373 13.3142 26.2404 13.7793 27.0509 13.7793H34.8761C38.062 13.7793 39.5153 12.6398 39.5153 9.96534V4.61651C39.5153 3.47697 40.0183 3.08163 41.3598 3.08163H47.3406C48.2069 3.08163 48.682 2.63977 48.682 1.91884Z" fill="currentColor"/>
      </g>
    </g>
    <defs>
      <clipPath id="clip0_5806_1901">
        <rect width="142" height="14" fill="white"/>
      </clipPath>
    </defs>
  </svg>
</div>
